// http://ajaxorg.github.io/ace-builds/demo/scrollable-page.html

.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    margin: auto;
    height: 200px;
    width: 80%;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.fullScreen {
    overflow: hidden
}

.scrollmargin {
    height: 500px;
    text-align: center;
}

.large-button {
    color: lightblue;
    cursor: pointer;
    font: 30px arial;
    padding: 20px;
    text-align: center;
    border: medium solid transparent;
    display: inline-block;
}
.large-button:hover {
    border: medium solid lightgray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 12px 0 lightblue;
}

.medium-button {
    color: lightblue;
    cursor: pointer;
    font: 30px arial;
    padding: 10px;
    text-align: center;
    border: medium solid transparent;
    display: inline-block;
}
.medium-button:hover {
    border: medium solid lightgray;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 6px 0 lightblue;
}

textarea {
  width: 100%; // 300px;
  height: 450px;
 }

