Package: beamparticle
Version: @VERSION@
License: MIT
Section: base
Maintainer: Neeraj Sharma <neeraj.sharma@alumni.iitg.ernet.in>
Priority: optional
Architecture: amd64
Build-Depends: debhelper
Depends: libcap2-bin
Description: A particle of BEAM
  A BEAM particle which practically allows you to travel at the speed of beam.

